:root {
  --font-color: #333333;
  --a-color: rgba(7, 92, 7, 1);
  --header: #aedd70;;
  --burger: #075c07;
  --h1-color:  rgba(7, 90, 7, 1); /* Just like var(--burger) */
  --h2-color: rgba(7, 92, 7, 0.8);
  --h3-color: rgba(7, 92, 7, 0.6);
  --h4-color: rgba(7, 92, 7, 0.4);
  --stape1: rgba(7, 92, 7, 0.1);
  --stape1-like: #e5eee5;
  --stape2: rgba(7, 92, 7, 0.2);
  --stape2-like: #cddecd;
  --stape3: rgba(7, 92, 7, 0.3);
  --stape3-like: #b4ceb4;
  --line-height: 1.5;

}

/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reponsive images */
img {
    width: 100%;
    height: auto;
    display: block;
}

/* general css */
main {
  font-family: 'Roboto', sans-serif;
  color: var(--font-color);
}

h1, h2, h3, h4, .sidenav a {
  font-family: 'Blinker', sans-serif;
}

ul, ol{
  list-style-type: none;
}

/* header */
header {
  background-color: var(--header);
  padding: 30px 0;
}

.mainTitle {
  display:flex;
  justify-content: space-around;
}

h1 {
  color: var(--font-color);
  white-space: nowrap;
}

.hamburger-button {
  color: var(--burger);
  background-color: var(--header);    
  border-radius: 2px;
  font-size: 30px;
  cursor: pointer;
}

.logo {
  width: 40px;
  border-radius: 50%;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(17, 17, 17, 0.8);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

  
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: var(--header);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .xCloseButton {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*  main */
h4, h5 {
  padding-left: 1rem;
}

h2 {
  color: var(--h2-color);
  text-align: center;
  padding: 2em;
  font-size: 2em;
}

h3 {
  color: var(--h3-color);
  font-size: 1.5em;
  padding: 1.5rem 1.5rem 1.5rem 1rem;
}

h4, h5 {
  color: var(--h4-color);
  font-size: 1rem;
}

h4 {
  font-size: 1.2em;
}

h5 {
  margin-top: 1rem;
}

p, li {
  line-height: var(--line-height);
  text-align: justify;
}

p{
  margin-left: 1rem;
  margin-right: 1rem;
  
}

a {
  text-decoration: none;
  /* color: var(--a-color); */
  font-weight: 700;
}
  

/* a:hover {
  color: var(--a-color);
} */

/* a:focus {
  color: var(--h4-color);
} */

/* --------------------------------------------------- */

/* index.html */
.introduction p {
  padding-bottom: 2em; 
}

.key-stapes p{
  border-radius: 5px;
  padding: 1rem;
}

.stape-link {
  text-align: right;
}

.stape-link a {
  display: inline-block;
  padding: 0.5rem;
  border-radius: 5px;
  text-align: right;
}

.stape-link1 a {
  background-color: var(--stape1-like);
  color: var(--a-color)
}

.stape-link1 a:hover {
  background-color: var(--a-color);
  color: var(--stape1-like);
}

.stape-link2 a {
  background-color: var(--stape2-like);
  color: var(--a-color)
}

.stape-link2 a:hover {
  background-color: var(--a-color);
  color: var(--stape2-like);
}

.stape-link3 a {
  background-color: var(--stape3-like);
  color: var(--a-color)
}

.stape-link3 a:hover {
  background-color: var(--a-color);
  color: var(--stape3-like);
}


.stape1 {
  background-color: var(--stape1);
  
}

.stape2 {
  background-color: var(--stape2);
}

.stape3 {
  background-color: var(--stape3);
  margin-bottom: 1rem;
}
/* ----------------------------------------------------*/

/* outils.html */
.aggregator h3 > img {
  width: 16px;
  display: initial;
  vertical-align: middle;
}

/* ------------------------------------------------- */

@media screen and (min-width: 400px) and (max-width: 800px) {
  .introduction p {
    column-count: 2;
  }
}

@media screen and (min-width: 800px) {
  /* general css */

  body {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 400vh;
  }

  header {
    padding: initial;
    position: sticky;
    top: -100px;
  }

  .mainTitle {
    justify-content: center;
    align-items: baseline;
    font-size: 40px;
  }

  .hamburger-button {
    display: none;
  }

  .mainTitle a {
    margin: auto 0 auto 1em;
  }

  .logo {
    width: 50px;
  }

  .sidenav {
    height: initial;
    width: initial;
    position: initial;
    background-color: var(--header);
    overflow-x: initial;
    padding-top: initial;
  }

  .sidenav ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  .sidenav li:first-child {
    display: none;
  }

  .sidenav a {
    color: #f1f1f1;
    font-weight: 600;
    padding-left: 8px;
    display: block;
    border-bottom: 3px solid transparent;
  }

  .sidenav a:hover {
    color: var(--burger);
    border-bottom: 3px solid var(--burger);
  }

  /* -------------------------------------------- */

  /* index.html */

    .introduction p {
      column-count: 3;
    }

   .key-stapes ol {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-evenly;
     padding: 0;
    }
    
    .key-stapes ol li {
      flex: 1 1 20%;
      padding: 0 1em;
   }

    .key-stapes ol li h5 {
      margin: 0;
      padding: 1em;
      white-space: nowrap;
    }

}

/* @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */


